.navbar {
    background-color: black;
    border-radius: 30px;
}

.navbar li {
    display: inline-block;
    margin: 13px 20px;
}

.navbar ul li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

#search {
    color: white;
    float: right;
    margin: 10px 75px;
}

.navbar input {
    border: 2px solid black;
    padding: 3px 10px;
    border-radius: 14px;
}

.navbar li a:hover {
    color: #6666a4;
    ;
}